.settingIcon {
  width: 32px;
  height: 32px;
  transition: transform 0.48s ease-out;

  .icon {
    width: 32px;
    height: 32px;
    fill: rgb(213, 213, 213);
    transition: fill 0.48s ease-out;
  }
}

.rotate {
  transform: rotate(90deg);
}
