html,
body {
  padding: 0;
  margin: 0;
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
}

@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('./fonts/webfont.eot') format('embedded-opentype'), url('./fonts/webfont.woff2') format('woff2'),
    url('./fonts/webfont.woff') format('woff'), url('./fonts/webfont.ttf') format('truetype');
}

.web-font {
  font-family: 'webfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes widthLine {
  0% {
    width: 0;
  }
  100% {
    width: 350px;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.container {
  width: 100vw;
  height: 100vh;
  border: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 1s cubic-bezier(0.32, 0.05, 0.06, 0.98) 0.1s;

  .header {
    width: 100%;
    height: 32px;
    position: relative;

    .setting-outer {
      border: 2.5px solid #000000;
      border-radius: 8px;
    }

    .setting {
      position: absolute;
      right: 6vw;
      top: 30px;
      width: 32px;
      height: 32px;

      .icon {
        width: 32px;
        height: 32px;

        .one {
          fill: #d8d8d8;
        }
      }

      &:hover {
        .icon {
          .one {
            fill: #bdbdbd;
          }
        }
      }
    }

    .setting-checked {
      .icon {
        .one {
          fill: #bdbdbd;
        }
      }
    }
  }

  .title {
    margin-top: 150px;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    transition: 0.2s;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    color: rgb(109, 117, 226);
    animation: fadeInDown 0.25s cubic-bezier(1, 0.67, 1, 1.39);
    text-shadow: 1px 1px 16px rgba(79, 85, 168, 0.3);

    &:hover {
      font-size: 26px;
    }
  }

  .search-bar {
    margin-top: 32px;
    padding: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.75);
    box-shadow: 2px 2px 14px 0 rgba(67, 74, 161, 0.1);
    animation: fadeInUp 0.7s cubic-bezier(0.17, 0.67, 0.05, 1.11);

    .input-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .input {
        position: relative;
        width: 350px;
        height: 37px;
        box-sizing: border-box;
        padding: 0 8px;
        line-height: 24px;
        font-size: 18px;
        border: 0;
        border-radius: 4px 0 0 0;
        background: #f8f7f5;
        color: #6d75e2;
        outline: none;

        &:focus {
          outline: none;
          transition: 0.3s;
          background: #f0efed;
        }
      }

      .underline {
        width: 350px;
        box-sizing: border-box;
        height: 3px;
        border: 0;
        border-radius: 0 0 0 3px;
        background-color: #bdbdbd;
        position: relative;

        .widthLineAnimation {
          display: none;
          position: absolute;
          right: 0;
          top: 0;
          animation: widthLine 0.25s ease-out forwards;
          width: 350px;
          box-sizing: border-box;
          height: 3px;
          border: 0;
          border-radius: 0 0 0 3px;
          background-color: #6d75e2;
        }
      }
    }

    .submit {
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #6d75e2;
      box-sizing: border-box;
      border-radius: 0 4px 4px 0;
      cursor: pointer;

      .icon {
        background-image: url('./images/search.svg');
        background-size: cover;
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        color: #ffffff;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: rgb(0, 0, 0);
  }
}

.color-picker {
  width: 16em !important;
  padding: 16px;
  border-radius: 12px !important;
}
